<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ws6/BPSP-DEMO/frontend/build/

    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /ws6/BPSP-DEMO/frontend/build/index.html [L]
</IfModule>